  <% include partials/header %>

  <!-- IMG 1450 x 750 or more BACKGROUND -->
  <div class="page-header header-filter" data-parallax="true" style="background-image: url('https://images.unsplash.com/photo-1435527173128-983b87201f4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1347&q=80')">
    <div class="container">
      <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
          <div class="brand text-center">
            <h2 class="title">Rotas</h2>
            <h4 class="text-center">Accept one another, then, just as Christ accepted you, in order to bring praise to God. (Romans 15 v 7)</h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTAINER -->
  <div class="main main-raised"> <br>
    <div class="container">
        <div class="section text-center">
            <!-- ICON CLIKS CENTER-->
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto">
                  <div class="profile-tabs">
                    <ul class="nav nav-pills nav-pills-icons justify-content-center" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" href="#sunday" role="tab" data-toggle="tab">
                          <i class="material-icons">schedule</i> Sunday
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#flowers" role="tab" data-toggle="tab">
                          <i class="material-icons">spa</i> Flowers
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#creche" role="tab" data-toggle="tab">
                          <i class="material-icons">favorite</i> Crèche
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="tab-content tab-space">
                <!-- TABLE SUNDAY -->
                <div class="tab-pane active text-center gallery" id="sunday">
                  <div class="table-responsive-sm">
                    <table class="table table-hover"> 
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                            <th scope="col">Tel. No.</th>
                            <th scope="col">E-mail</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">14th Apr. (am)</th>
                            <td>Ann Friel<br>Andrew Whiteside</td>
                            <td>087-9694513<br>085-1200671</td>
                            <td>annfriel61@gmail.com</td>
                          </tr>
                          <tr>
                            <th scope="row">21st Apr. (am)</th>
                            <td>Marcelo<br>Claudia Castro</td>
                            <td>083-8197169<br>083-8197967</td>
                            <td>marcelohenriques@gmail.com<br>claudiadscastro@gmail.com</td>
                          </tr>
                          <tr>
                            <th scope="row">28th Apr. (am)</th>
                            <td>Graeme Murdock<br>Barbara Lamb</td>
                            <td>086-8720066<br>086-8880691</td>
                            <td>murdocg@tcd.ie<br>barbaraflamb@gmail.com</td>
                          </tr>
                          <tr>
                            <th scope="row">5th May (am)</th>
                            <td>Raymond &<br>Colette McCaw</td>
                            <td>085-8118899<br>086-2128859</td>
                            <td>raymond.mccaw@yahoo.ie</td>
                          </tr>
                          <tr>
                            <th scope="row">12th May (am)</th>
                            <td>Stuart Ferguson<br>Martha McMillan</td>
                            <td>086-6860537<br>087-6694004</td>
                            <td>stuartfer@gmail.com<br>marthafinan@gmail.com</td>
                          </tr>
                          <tr>
                            <th scope="row">19th May (am)</th>
                            <td>David Boyd<br>Rosaleen Gibson</td>
                            <td>086-8346064<br>087-9060206</td>
                            <td>davidboyd@eircom.net<br>rosaleengibson@gmail.com</td>
                          </tr>
                          <tr>
                            <th scope="row">26th May (am)</th>
                            <td>Ian Black<br>Morgan McCreedy</td>
                            <td>086-3874031<br>086-8880691</td>
                            <td>ian.black@repak.ie<br>jmaxi2002@yahoo.co.uk</td>
                          </tr>
                          <tr>
                            <th scope="row">2nd Jun. (am)</th>
                            <td>Annie Patton<br>Marion Stott</td>
                            <td>087-9892033<br>087-2929690</td>
                            <td>anniepatton@hotmail.com<br>mabstott@gmail.com</td>
                          </tr>
                          <tr>
                            <th scope="row">9th Jun. (am)</th>
                            <td>Tommy <br> Jennifer Wilson</td>
                            <td>086-3868848</td>
                            <td>tommyjenniferwilson@gmail.com</td>
                          </tr>
                          <tr>
                            <th scope="row">16th Jun. (am)</th>
                            <td>Ken & Mary Borland<br>Rebecca Smith</td>
                            <td>086-2529980<br>086-6026775</td>
                            <td>kborland@iol.ie<br>rebeccaborland@yahoo.com</td>
                          </tr>
                        </tbody>
                      </table><!-- END TABLE SUNDAY -->
                    </div><br>
                      <h4 class="lead">N.B.  If you are not available to attend on your specific day please change 
                        with someone else on the list.  Please notify changes to me and/or Stuart Ferguson ASAP 
                        but not later than the Wednesday of the previous week so that the correct information can 
                        be included in the Order of Service.</h4>
                      <h4 class="lead">The first named person is requested to remain on duty in the foyer for 
                        the duration of the service and to be responsible for giving out the Collection Plates.  
                        When asking people to lift the offering, please try and select a good variety of people 
                        (try not to use the same people more than once in a six week period - if in doubt, ask the 
                        person if they have collected recently).  In particular, try and get our younger folk and 
                        older folk involved and those who are less involved in church activities.</h4>
                      <h4 class="title">Please be on duty no later than a ½ hour before the start of the service.</h4>
                      <h4 class="lead">Many thanks for your help in the welcoming of our Church Family and Visitors. <br>
                        Tommy Wilson (086-3868848); E-mail: tommyjenniferwilson@gmail.com</h4>    
                </div>

            <!-- TABLE FLOWERS -->
            <div class="tab-pane text-center gallery" id="flowers">
                <div class="table-responsive-sm">
                    <table class="table table-hover"> 
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Date</th>
                            <th scope="col">Name</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">14th Apr. (am)</th>
                            <td>Joan Ryan</td>
                        </tr>
                        <tr>
                            <th scope="row">21st Apr. (am)</th>
                            <td>Winnie Wilmot</td>
                        </tr>
                        <tr>
                            <th scope="row">28th Apr. (am)</th>
                            <td>Mary Borland</td>
                        </tr>
                        <tr>
                            <th scope="row">5th May (am)</th>
                            <td>Graham Murdock</td>
                        </tr>
                        <tr>
                            <th scope="row">12th May (am)</th>
                            <td>Susan Labuchagne</td>
                        </tr>
                        <tr>
                            <th scope="row">19th May (am)</th>
                            <td>Soyong Mok</td>
                        </tr>
                        <tr>
                            <th scope="row">26th May (am)</th>
                            <td>Sunday Special</td>
                        </tr>
                        </tbody>
                    </table>
                </div><!-- END TABLE FLOWERS -->
            </div>
                <!-- TABLE CRECHE -->
                <div class="tab-pane text-center gallery" id="creche">
                    <div class="table-responsive-sm">
                        <table class="table table-hover"> 
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">Date</th>
                                    <th scope="col">Name</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">14th Apr. (am)</th>
                                    <td>Caitlin Nickels<br>Edelle Nickels</td>
                                </tr>
                                <tr>
                                    <th scope="row">28th Apr. (am)</th>
                                    <td>Peter Thompson <br>Buelah Allotey</td>
                                </tr>
                                <tr>
                                    <th scope="row">5th May (am)</th>
                                    <td>Marian Stott<br>Hayley Mcgrath</td>
                                </tr>
                                <tr>
                                    <th scope="row">12th May (am)</th>
                                    <td>Caroline Mota<br>Terri Coleman Black</td>
                                </tr>
                                <tr>
                                    <th scope="row">19th May (am)</th>
                                    <td>Mary Borland<br>Rebecca Smith</td>
                                </tr>
                                <tr>
                                    <th scope="row">26th May (am)</th>
                                    <td>Caitlin Nickels<br>Edelle Nickels</td>
                                </tr>
                                <tr>
                                    <th scope="row">2nd Jun (am)</th>
                                    <td>Erin Labuschagne<br>Barbara Lamb</td>
                                </tr>
                                <tr>
                                    <th scope="row">9th Jun (am)</th>
                                    <td>Hayley Mcgrath<br>Myrtle Thompson</td>
                                </tr>
                                <tr>
                                    <th scope="row">26th Jun (am)</th>
                                    <td>Marian Stott<br>Buelah Allotey</td>
                                </tr>
                                <tr>
                                    <th scope="row">23rd Jun (am)</th>
                                    <td>Barbara Lamb<br>Peter Thompson</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- END TABLE CRECHE -->
            </div><!-- END ICON CLIKS CENTER-->
        </div>
    </div>
  </div> <!-- END CONTAINER -->

  <% include partials/footer %>